html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: #666;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.25;
}

a {
  color: #27ae60;
  text-decoration: none;
}

a:hover {
  color: #36d278;
  text-decoration: underline;
}

h1 {
  font-size: 1.25em;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3em;
  }
}

h1 strong {
  color: #27ae60;
}

h2 {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 1.5em;
  }
}

* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0 0 6rem;
  background-color: white;
  overflow-x: hidden;
}

.element-animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.element-animated.short {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.element-animated.long {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.element-animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.slide-from-right {
  -webkit-animation-name: slide-from-right;
          animation-name: slide-from-right;
}

@-webkit-keyframes slide-from-left {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide-from-left {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.slide-from-left {
  -webkit-animation-name: slide-from-left;
          animation-name: slide-from-left;
}

@-webkit-keyframes slide-from-top {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide-from-top {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.slide-from-top {
  -webkit-animation-name: slide-from-top;
          animation-name: slide-from-top;
}

@-webkit-keyframes slide-from-bottom {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide-from-bottom {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.slide-from-bottom {
  -webkit-animation-name: slide-from-bottom;
          animation-name: slide-from-bottom;
}

@-webkit-keyframes slide-left-right {
  0% {
    -webkit-transform: translateX(-75px);
            transform: translateX(-75px);
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translateX(75px);
            transform: translateX(75px);
  }
}

@keyframes slide-left-right {
  0% {
    -webkit-transform: translateX(-75px);
            transform: translateX(-75px);
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translateX(75px);
            transform: translateX(75px);
  }
}

.slide-left-right {
  -webkit-animation-name: slide-left-right;
          animation-name: slide-left-right;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes slide-top-bottom {
  0% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
  }
}

@keyframes slide-top-bottom {
  0% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
  }
}

.slide-top-bottom {
  -webkit-animation-name: slide-top-bottom;
          animation-name: slide-top-bottom;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes slide-from-right-bottom {
  0% {
    -webkit-transform: translate(75px, 75px);
            transform: translate(75px, 75px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide-from-right-bottom {
  0% {
    -webkit-transform: translate(75px, 75px);
            transform: translate(75px, 75px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.slide-from-right-bottom {
  -webkit-animation-name: slide-from-right-bottom;
          animation-name: slide-from-right-bottom;
}

@-webkit-keyframes slide-from-left-bottom {
  0% {
    -webkit-transform: translate(-75px, 75px);
            transform: translate(-75px, 75px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide-from-left-bottom {
  0% {
    -webkit-transform: translate(-75px, 75px);
            transform: translate(-75px, 75px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.slide-from-left-bottom {
  -webkit-animation-name: slide-from-left-bottom;
          animation-name: slide-from-left-bottom;
}

@-webkit-keyframes slide-from-right-top {
  0% {
    -webkit-transform: translate(75px, -75px);
            transform: translate(75px, -75px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide-from-right-top {
  0% {
    -webkit-transform: translate(75px, -75px);
            transform: translate(75px, -75px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.slide-from-right-top {
  -webkit-animation-name: slide-from-right-top;
          animation-name: slide-from-right-top;
}

@-webkit-keyframes slide-from-left-top {
  0% {
    -webkit-transform: translate(-75px, -75px);
            transform: translate(-75px, -75px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide-from-left-top {
  0% {
    -webkit-transform: translate(-75px, -75px);
            transform: translate(-75px, -75px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.slide-from-left-top {
  -webkit-animation-name: slide-from-left-top;
          animation-name: slide-from-left-top;
}

@-webkit-keyframes tremble {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transform: none;
            transform: none;
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@keyframes tremble {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transform: none;
            transform: none;
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

.tremble {
  -webkit-animation-name: tremble;
          animation-name: tremble;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.filters-container {
  width: 85%;
  max-width: 1000px;
  margin: .5em auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .filters-container {
    margin: 2em auto 6em;
  }
}

.single-filter {
  display: none;
}

.single-filter span {
  display: inline-block;
  margin-right: .25em;
  margin-bottom: .5em;
  padding: 0.25em 0.5em;
  border-radius: .25em;
  font-size: 1.1em;
  line-height: 1em;
  color: #666;
  background-color: transparent;
  border: 2px solid #666;
  cursor: pointer;
  opacity: .7;
}

.single-filter span:hover {
  border: 2px solid #27ae60;
}

.single-filter input {
  opacity: 0;
  width: 0;
  height: 0;
}

.single-filter input:focus + span {
  border: 2px solid #27ae60;
}

.single-filter input:checked + span {
  background-color: #27ae60;
  border: 2px solid #27ae60;
  color: white;
}

@media screen and (min-width: 768px) {
  .single-filter {
    display: inline-block;
  }
}

footer {
  position: absolute;
  height: 6rem;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0 2em;
  text-align: center;
}

h1, h2 {
  margin: 0 0 .25em;
}

headergroup {
  display: block;
  margin: 1em 0 3em;
}

h2 {
  display: none;
}

@media screen and (min-width: 768px) {
  h2 {
    display: block;
  }
}

.main-container {
  position: relative;
  height: 375px;
}

.element-animated {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -37.5px;
  margin-left: -37.5px;
  width: 75px;
  height: 75px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  opacity: .8;
}

.element-animated.slide-from-right {
  background-color: #e74c3c;
}

.element-animated.slide-from-left {
  background-color: #e74c3c;
}

.element-animated.slide-from-top {
  background-color: #27ae60;
}

.element-animated.slide-from-bottom {
  background-color: #27ae60;
}

.element-animated.slide-from-right-bottom {
  background-color: #8e44ad;
}

.element-animated.slide-from-left-top {
  background-color: #8e44ad;
}

.element-animated.slide-from-left-bottom {
  background-color: #2980b9;
}

.element-animated.slide-from-right-top {
  background-color: #2980b9;
}

.element-animated.slide-left-right {
  background-color: #f1c40f;
}

.element-animated.slide-top-bottom {
  background-color: #f1c40f;
}

.element-animated.tremble {
  background-color: #e67e22;
}

#play-animation {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 75px;
  height: 75px;
  top: 50%;
  left: 50%;
  margin-top: -37.5px;
  margin-left: -37.5px;
  box-shadow: none;
  background-color: #27ae60;
  color: white;
  border: none;
  z-index: 5;
}

@media screen and (min-width: 768px) {
  #play-animation {
    font-size: 1.5em;
  }
}

/* When the button is visible, we don't want the animation to be played */
#play-animation ~ .element-animated {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
