$slide-from-right-top-offset: $default-offset/2;

@keyframes slide-from-right-top {

  0% {
    transform: translate($slide-from-right-top-offset, -$slide-from-right-top-offset);
  }

  100% {
    transform: none;
  }
}

.slide-from-right-top {
  animation-name: slide-from-right-top;
}