$slide-from-top-offset: $default-offset;

@keyframes slide-from-top {

  0% {
    transform: translateY(-$slide-from-top-offset);
  }

  100% {
    transform: none;
  }
}

.slide-from-top {
  animation-name: slide-from-top;
}