$default-offset: 200px;

@import 'animations/animation-setup';

@import 'animations/slide-from-right';
@import 'animations/slide-from-left';
@import 'animations/slide-from-top';
@import 'animations/slide-from-bottom';
@import 'animations/slide-from-right-bottom';
@import 'animations/slide-from-left-bottom';
@import 'animations/slide-from-right-top';
@import 'animations/slide-from-left-top';
@import 'animations/slide-left-right';
@import 'animations/slide-top-bottom';
@import 'animations/tremble';
@import 'animations/fade-out';
@import 'animations/fade-in';
@import 'animations/pulsate';
@import 'animations/rotate';