$appear-from-top-offset: $default-offset !default;

@keyframes appear-from-top {

  0% {
    transform: translateY(-$appear-from-top-offset);
    opacity: 0;
  }

  40% {
    opacity: .7;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.appear-from-top {
  animation-name: appear-from-top;
  animation-timing-function: cubic-bezier(.39,.58,.57,1);
}