$rotate-slide-from-bottom-offset: $default-offset;

@keyframes rotate-slide-from-bottom {

  0% {
    transform: translateY($rotate-slide-from-bottom-offset) rotate(-1turn) ;
    transform-origin: center;
  }

  100%  {
    transform: none;
  }
}

.rotate-slide-from-bottom {
  animation-name: rotate-slide-from-bottom;
  animation-timing-function: ease-in-out;
}