$rotate-slide-from-top-offset: $default-offset;

@keyframes rotate-slide-from-top {

  0% {
    transform: translateY(-$rotate-slide-from-top-offset) rotate(-1turn);
    transform-origin: center;
  }

  100%  {
    transform: none;
  }
}

.rotate-slide-from-top {
  animation-name: rotate-slide-from-top;
  animation-timing-function: ease-in-out;
}