$slide-from-right-offset: $default-offset;

@keyframes slide-from-right {

  0% {
    transform: translateX($slide-from-right-offset);
  }

  100% {
    transform: none;
  }
}

.slide-from-right {
  animation-name: slide-from-right;
}