$slide-from-left-bottom-offset: $default-offset/2 !default;

@keyframes slide-from-left-bottom {

  0% {
    transform: translate(-$slide-from-left-bottom-offset, $slide-from-left-bottom-offset);
  }

  100% {
    transform: none;
  }
}

.slide-from-left-bottom {
  animation-name: slide-from-left-bottom;
}