$element-side-size: 100px;
$main-container-height: ($element-side-size*5)+10px;

h1, h2 {
  text-align: center;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;

}

h2 {
  position: absolute;
  width: 100%;
  margin-top: -100px;
}

.main-container {
  position: relative;
  height: $main-container-height;
  margin-top: $main-container-height/2;
}

.element-animated {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($element-side-size/2);
  margin-left: -($element-side-size/2);
  width: $element-side-size;
  height: $element-side-size;
  animation-iteration-count: infinite;
  opacity: .8;

  &.slide-from-right { background-color: $demo-item-red; }
  &.slide-from-left { background-color: $demo-item-red; }
  &.slide-from-top { background-color: $demo-item-green; }
  &.slide-from-bottom { background-color: $demo-item-green; }
  &.slide-from-right-bottom { background-color: $demo-item-violet; }
  &.slide-from-left-top { background-color: $demo-item-violet; }
  &.slide-from-left-bottom { background-color: $demo-item-blue; }
  &.slide-from-right-top { background-color: $demo-item-blue; }
  &.slide-left-right { background-color: $demo-item-yellow; }
  &.slide-top-bottom { background-color: $demo-item-yellow; }
  &.tremble { background-color: $demo-item-orange; }

  &.fade-out {
    background-color: $demo-item-orange;
    transform: translate(-2*$element-side-size, 2*$element-side-size);
  }

  &.fade-in {
    background-color: $demo-item-orange;
    transform: translate(-2*$element-side-size, -2*$element-side-size);
  }

  &.pulsate {
    background-color: $demo-item-orange;
    transform: translate(2*$element-side-size, 2*$element-side-size);
  }

  &.rotate {
    background-color: $demo-item-red;
    top:0;
    margin-top: 0;
    margin-left: $element-side-size*1.5;
  }

  &.rotate-slide-from-right { background-color: $demo-item-violet; }
  &.rotate-slide-from-left { background-color: $demo-item-violet; }
  &.rotate-slide-from-top { background-color: $demo-item-blue; }
  &.rotate-slide-from-bottom { background-color: $demo-item-blue; }
  &.appear-from-right { background-color: $demo-item-yellow; }
  &.appear-from-left { background-color: $demo-item-yellow; }
  &.appear-from-top { background-color: $demo-item-red; }
  &.appear-from-bottom { background-color: $demo-item-red; }
}