// sizes

$footer-height: 3rem;

// colors

$default-grey: #666;

$brand-color: rgba(24, 36, 47, 1); // Lunar Logic dark blue
$brand-color-light: rgba(0,174,239, 1); // Lunar Logic default blue

$demo-item-red: #e74c3c;
$demo-item-violet: #8e44ad;
$demo-item-blue: #2980b9;
$demo-item-green: #27ae60;
$demo-item-yellow: #f1c40f;
$demo-item-orange: #e67e22;