// sizes

$footer-height: 6rem;

// breakpoints

$tablet: 768px;
$desktop: 1024px;
$wide-desktop: 2000px;

// colors

$default-grey: #666;

$main-color: #27ae60; // green

$demo-item-red: #e74c3c;
$demo-item-violet: #8e44ad;
$demo-item-blue: #2980b9;
$demo-item-green: #27ae60;
$demo-item-yellow: #f1c40f;
$demo-item-orange: #e67e22;