.element-animated {
  animation-duration: 1s;
}

.element-animated.short {
  animation-duration: .5s;
}

.element-animated.long {
  animation-duration: 2s;
}

.element-animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes slide-from-right {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: none;
  }
}

.slide-from-right {
  animation-name: slide-from-right;
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: none;
  }
}

.slide-from-left {
  animation-name: slide-from-left;
}

@keyframes slide-from-top {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: none;
  }
}

.slide-from-top {
  animation-name: slide-from-top;
}

@keyframes slide-from-bottom {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: none;
  }
}

.slide-from-bottom {
  animation-name: slide-from-bottom;
}

@keyframes slide-from-right-bottom {
  0% {
    transform: translate(100px, 100px);
  }
  100% {
    transform: none;
  }
}

.slide-from-right-bottom {
  animation-name: slide-from-right-bottom;
}

@keyframes slide-from-left-bottom {
  0% {
    transform: translate(-100px, 100px);
  }
  100% {
    transform: none;
  }
}

.slide-from-left-bottom {
  animation-name: slide-from-left-bottom;
}

@keyframes slide-from-right-top {
  0% {
    transform: translate(100px, -100px);
  }
  100% {
    transform: none;
  }
}

.slide-from-right-top {
  animation-name: slide-from-right-top;
}

@keyframes slide-from-left-top {
  0% {
    transform: translate(-100px, -100px);
  }
  100% {
    transform: none;
  }
}

.slide-from-left-top {
  animation-name: slide-from-left-top;
}

@keyframes slide-left-right {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: none;
  }
  100% {
    transform: translateX(100px);
  }
}

.slide-left-right {
  animation-name: slide-left-right;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes slide-top-bottom {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: none;
  }
  100% {
    transform: translateY(100px);
  }
}

.slide-top-bottom {
  animation-name: slide-top-bottom;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes tremble {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: translateX(5px);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: none;
  }
}

.tremble {
  animation-name: tremble;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fade-out {
  0% {
    opacity: .8;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fade-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-timing-function: ease-in;
}

@keyframes pulsate {
  0%, 100% {
    opacity: .8;
  }
  50% {
    opacity: .6;
  }
}

.pulsate {
  animation-name: pulsate;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(-1turn);
  }
  100% {
    transform: none;
  }
}

.rotate {
  animation-name: rotate;
  animation-timing-function: ease-in-out;
}

@keyframes rotate-slide-from-right {
  0% {
    transform: translateX(200px) rotate(1turn);
    transform-origin: center;
  }
  100% {
    transform: none;
  }
}

.rotate-slide-from-right {
  animation-name: rotate-slide-from-right;
  animation-timing-function: ease-in-out;
}

@keyframes rotate-slide-from-left {
  0% {
    transform: translateX(-200px) rotate(-1turn);
    transform-origin: center;
  }
  100% {
    transform: none;
  }
}

.rotate-slide-from-left {
  animation-name: rotate-slide-from-left;
  animation-timing-function: ease-in-out;
}

@keyframes rotate-slide-from-top {
  0% {
    transform: translateY(-200px) rotate(-1turn);
    transform-origin: center;
  }
  100% {
    transform: none;
  }
}

.rotate-slide-from-top {
  animation-name: rotate-slide-from-top;
  animation-timing-function: ease-in-out;
}

@keyframes rotate-slide-from-bottom {
  0% {
    transform: translateY(200px) rotate(-1turn);
    transform-origin: center;
  }
  100% {
    transform: none;
  }
}

.rotate-slide-from-bottom {
  animation-name: rotate-slide-from-bottom;
  animation-timing-function: ease-in-out;
}

@keyframes appear-from-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  40% {
    opacity: .7;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.appear-from-right {
  animation-name: appear-from-right;
  animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

@keyframes appear-from-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  40% {
    opacity: .7;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.appear-from-left {
  animation-name: appear-from-left;
  animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

@keyframes appear-from-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  40% {
    opacity: .7;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.appear-from-top {
  animation-name: appear-from-top;
  animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

@keyframes appear-from-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  40% {
    opacity: .7;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.appear-from-bottom {
  animation-name: appear-from-bottom;
  animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}
