// sizes

$footer-height: 3rem;
$default-offset: 200px;

// colors

$demo-item-red: #e74c3c;
$demo-item-violet: #8e44ad;
$demo-item-blue: #2980b8;
$demo-item-green: #27ae60;
$demo-item-yellow: #f1c40f;
$demo-item-orange: #e67e22;

$brand-color: $demo-item-green;
