$element-side-size: 100px;

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 3em;

  strong {
    color: $main-color;
  }
}

headergroup {
  display: block;
  margin: 1em 0 3em;
}

.test {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($element-side-size/2);
  margin-left: -($element-side-size/2);
  width: $element-side-size;
  height: $element-side-size;
  animation-iteration-count: infinite;
  opacity: 0;

  &.slide-from-right { background-color: $demo-item-red; }
  &.slide-from-left { background-color: $demo-item-red; }
  &.slide-from-top { background-color: $demo-item-green; }
  &.slide-from-bottom { background-color: $demo-item-green; }
  &.slide-from-right-bottom { background-color: $demo-item-violet; }
  &.slide-from-left-top { background-color: $demo-item-violet; }
  &.slide-from-left-bottom { background-color: $demo-item-blue; }
  &.slide-from-right-top { background-color: $demo-item-blue; }
  &.slide-left-right { background-color: $demo-item-yellow; }
  &.slide-top-bottom { background-color: $demo-item-yellow; }
  &.tremble { background-color: $demo-item-orange; }
}

a {
  color: $main-color;
  text-decoration: none;

  &:hover {
    color: lighten($main-color, 10);
    text-decoration: underline;
  }
}