$element-side-size: 100px;

.filters-container {
  width: 80%;
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;

  label {
    display: inline-block;
  }

  span {
    display: inline-block;
    margin-right: .5em;
    margin-bottom: .5em;
    padding: 0.5em 0.75em;
    border-radius: .25em;
    font-size: 1.25em;
    line-height: 1em;
    color: $default-grey;
    background-color: transparent;
    border: 2px solid $default-grey;
    cursor: pointer;
    opacity: .8;

    &:hover {
      border: 2px solid $demo-item-red;
    }
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:focus + span {
    border: 2px solid $demo-item-red;
  }

  input:checked + span {
    background-color: $demo-item-red;
    border: 2px solid $demo-item-red;
    color: white;
  }
}

.test {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($element-side-size/2);
  margin-left: -($element-side-size/2);
  width: $element-side-size;
  height: $element-side-size;
  animation-iteration-count: infinite;
  opacity: 0;

  &.slide-from-right { background-color: $demo-item-red; }
  &.slide-from-left { background-color: $demo-item-red; }
  &.slide-from-top { background-color: $demo-item-green; }
  &.slide-from-bottom { background-color: $demo-item-green; }
  &.slide-from-right-bottom { background-color: $demo-item-violet; }
  &.slide-from-left-top { background-color: $demo-item-violet; }
  &.slide-from-left-bottom { background-color: $demo-item-blue; }
  &.slide-from-right-top { background-color: $demo-item-blue; }
  &.slide-left-right { background-color: $demo-item-yellow; }
  &.slide-top-bottom { background-color: $demo-item-yellow; }
  &.tremble { background-color: $demo-item-orange; }
}

a {
  color: $brand-color-light;
  text-decoration: none;

  &:visited, &:active {
    color: darken($brand-color-light, 10);
  }

  &:hover {
    color: lighten($brand-color-light, 10);
    text-decoration: underline;
  }
}