h1, h2 {
  margin: 0 0 .25em;
}

headergroup {
  display: block;
  margin: 1em 0 3em;
}

.main-container {
  position: relative;
  height: $element-side-size * 5;
}

.element-animated {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($element-side-size/2);
  margin-left: -($element-side-size/2);
  width: $element-side-size;
  height: $element-side-size;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  opacity: .8;

  &.slide-from-right { background-color: $demo-item-red; }
  &.slide-from-left { background-color: $demo-item-red; }
  &.slide-from-top { background-color: $demo-item-green; }
  &.slide-from-bottom { background-color: $demo-item-green; }
  &.slide-from-right-bottom { background-color: $demo-item-violet; }
  &.slide-from-left-top { background-color: $demo-item-violet; }
  &.slide-from-left-bottom { background-color: $demo-item-blue; }
  &.slide-from-right-top { background-color: $demo-item-blue; }
  &.slide-left-right { background-color: $demo-item-yellow; }
  &.slide-top-bottom { background-color: $demo-item-yellow; }
  &.tremble { background-color: $demo-item-orange; }
}

#play-animation {
  position: absolute;
  appearance: none;
  width: $element-side-size;
  height: $element-side-size;
  box-shadow:none;
  background-color: $main-color;
  color: white;
  border: none;
  top: 50%;
  left: 50%;
  margin-top: -($element-side-size/2);
  margin-left: -($element-side-size/2);
  z-index: 5;
  font-size: 1.5em;
}

.animation-running {
  animation-play-state: running;
}
