$filters-color: $main-color;

.filters-container {
  width: 85%;
  max-width: 1000px;
  margin: 1em auto;
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin: 2em auto 6em;
  }
}

.single-filter {
  display: none;

  span {
    display: inline-block;
    margin-right: .25em;
    margin-bottom: .5em;
    padding: 0.25em 0.5em;
    border-radius: .25em;
    font-size: 1.1em;
    line-height: 1em;
    color: $default-grey;
    background-color: transparent;
    border: 2px solid $default-grey;
    cursor: pointer;
    opacity: .7;

    &:hover {
      border: 2px solid $filters-color;
    }
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:focus + span {
    border: 2px solid $filters-color;
  }

  input:checked + span {
    background-color: $filters-color;
    border: 2px solid $filters-color;
    color: white;
  }

  @media screen and (min-width: $tablet) {
    display: inline-block;
  }
}