$slide-top-bottom-offset: 75px;

@keyframes slide-top-bottom {

  0% {
    transform: translateY(-$slide-left-right-offset);
  }

  50% {
    transform: none;
  }

  100% {
    transform: translateY($slide-left-right-offset)
  }
}

.slide-top-bottom {
  animation-name: slide-top-bottom;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}