$element-side-size: 100px;

.test {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($element-side-size/2);
  margin-left: -($element-side-size/2);
  width: $element-side-size;
  height: $element-side-size;
  animation-iteration-count: infinite;
  opacity: .8;

  &.slide-from-right { background-color: $demo-item-red; }
  &.slide-from-left { background-color: $demo-item-red; }
  &.slide-from-top { background-color: $demo-item-green; }
  &.slide-from-bottom { background-color: $demo-item-green; }
  &.slide-from-right-bottom { background-color: $demo-item-violet; }
  &.slide-from-left-top { background-color: $demo-item-violet; }
  &.slide-from-left-bottom { background-color: $demo-item-blue; }
  &.slide-from-right-top { background-color: $demo-item-blue; }
  &.slide-left-right { background-color: $demo-item-yellow; }
  &.tremble { background-color: $demo-item-orange; }
}

a {
  color: $brand-color-light;
  text-decoration: none;

  &:visited, &:active {
    color: darken($brand-color-light, 10);
  }

  &:hover {
    color: lighten($brand-color-light, 10);
    text-decoration: underline;
  }
}

footer {
  position: absolute;
  height: $footer-height;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: $brand-color;
  color: white;
  text-align: center;
}